#general modules
Django==3.2.25
django-filter
djangorestframework
python-decouple

#third-party modules
djangorestframework_simplejwt
django-filter
Markdown
drf-yasg[validation]

# refactoring and tests
black
flake8
pytest
pytest-django
Faker